<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/online-vendor-service/src/main/java/com/vendor/OnlineVendorServiceSpringBoot.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.vendor.OnlineVendorServiceSpringBoot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="online-vendor-service"/>
</launchConfiguration>
